/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 50vh; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.btn-contraste {
    flex: none;
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffffff;
    color: #1d61bf;
    border-radius: 15px;
    cursor: pointer;
}

.btn-contraste:hover {
    background-color: #1d61bf;
    color: #ffffff;
}

/* Modo de Alto Contraste */
body.alto-contraste {
    background-color: #00141a;
    color: white;
}

body.alto-contraste .library-content,
body.alto-contraste .content-wrapper{
    background-color: #00141a;
    color: white;
}

body.alto-contraste .btn-sair,
body.alto-contraste .btn-editar{
    background-color: #00141a;
    color: white;
}

body.alto-contraste .book-container,
body.alto-contraste .admin-content{
    background-color: #326673;
    color: white;

}

body.alto-contraste .book-section{
    background-color: #004051;
    color: white;
}

body.alto-contraste header,
body.alto-contraste footer,
body.alto-contraste nav.menulateral {
    background-color: #004051;
}

body.alto-contraste .btn-contraste {
    background-color: white;
    color: #004051;
    border-color: white;
}

body.alto-contraste .search-box input {
    background-color: white;
    color: #004051;
}

body.alto-contraste .book-container .book a h4 {
    color: white;
}

/* Cabeçalho */
header {
    background-color: #1d61bf;
    padding: 20px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    flex: 1;
}

.logo img {
    height: 40px;
}

.search-box {
    flex: 2;
    display: flex;
    justify-content: center;
}

.search-box input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #ffffff;
    border-radius: 15px;
    margin-left: 500px;
}


nav.menulateral{
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background-color: #1d61bf;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #0b264c;
    z-index: 999;
    overflow: hidden;
    transition: .3s;
}

nav.menulateral:hover{
    width: 250px;
}

.expandir{
    width: 100%;
    padding: 10px;
    margin-bottom: -18px;

}

.expandir > i{
    color: #fff;
    font-size: 26px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style: none;

}

ul li.itens{
    transition: .5s;
}

ul li.itens:hover{
    margin-left: -70px;
    padding-left: 90px;
    background-color: #0b264c;
}

ul li.itens a{
    margin-left: -35px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 15px;
    line-height: 40px;

}

ul li.itens a .txtlink{
    margin-left: 30px;
}

ul li.itens a .icon > i{
    font-size: 30px;
}

.content-wrapper {
    margin-top: 60px;
    padding: 20px;
}

.admin-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    max-width: 800px;
    margin: 0 auto;
}

.admin-content h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.profile-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.profile-info h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.profile-info p {
    margin: 5px 0;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 12px 20px;
    background-color: #1d61bf;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0b264c;
}

/* Rodapé */
footer {
    background-color: #1d61bf;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-logo {
    width: 100px;
    margin-bottom: 10px;
    margin-right: 100px;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
}

.footer-center {
    text-align: center;
}

.footer-center p {
    margin: 0;
}