/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 50vh; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.btn-contraste {
    flex: none;
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffffff;
    color: #1d61bf;
    border-radius: 15px;
    cursor: pointer;
}

.btn-contraste:hover {
    background-color: #1d61bf;
    color: #ffffff;
}

/* Modo de Alto Contraste */
body.alto-contraste {
    background-color: #00141a;
    color: white;
}

body.alto-contraste .library-content,
body.alto-contraste .content-wrapper{
    background-color: #00141a;
    color: white;
}

body.alto-contraste .book-container,
body.alto-contraste .book-info{
    background-color: #326673;
    color: white;

}

body.alto-contraste .book-section{
    background-color: #004051;
    color: white;
}

body.alto-contraste header,
body.alto-contraste footer,
body.alto-contraste nav.menulateral {
    background-color: #004051;
}

body.alto-contraste .btn-contraste {
    background-color: white;
    color: #004051;
    border-color: white;
}

body.alto-contraste .search-box input {
    background-color: white;
    color: #004051;
}

body.alto-contraste .book-container .book a h4 {
    color: white;
}


/* Cabeçalho */
header {
    background-color: #1d61bf;
    padding: 20px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    flex: 1;
}

.logo img {
    height: 40px;
}

.search-box {
    flex: 2;
    display: flex;
    justify-content: center;
}

.search-box input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #ffffff;
    border-radius: 15px;
    margin-left: 500px;
}


nav.menulateral{
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background-color: #1d61bf;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #0b264c;
    z-index: 999;
    overflow: hidden;
    transition: .3s;
}

nav.menulateral:hover{
    width: 250px;
}

.expandir{
    width: 100%;
    padding: 10px;
    margin-bottom: -18px;

}

.expandir > i{
    color: #fff;
    font-size: 26px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style: none;

}

ul li.itens{
    transition: .5s;
}

ul li.itens:hover{
    margin-left: -70px;
    padding-left: 90px;
    background-color: #0b264c;
}

ul li.itens a{
    margin-left: -35px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 15px;
    line-height: 40px;

}

ul li.itens a .txtlink{
    margin-left: 30px;
}

ul li.itens a .icon > i{
    font-size: 30px;
}

/* Conteúdo principal */

.conteudo {
    padding: 20px;
    margin-left: 80px;
    margin-bottom: -40px;
}

.titulo {
    margin-top: 170px;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

/* barra de livros */
.content-wrapper {
    margin-top: 10px;
    margin-bottom: -90px;
    margin-left: 80px;
    padding: 20px;
}

.library-content {
    background-color: #ffffff;
    padding: 20px;
}

/* alterações e adições para o carrossel de livros */
.book-carousel {
    position: relative;
    background-color: #e5e5e5;
    padding: 20px;
}

.book-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory; /* Permite que o scroll "pule" de um livro para o outro */
}

.book img {
    width: 150px; 
    height: 250px; 
    object-fit: cover;
    border-radius: 15px;
}
.book-link {
    min-width: 200px;
    scroll-snap-align: start; /* Define como os livros devem ser alinhados no scroll */
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    margin-right: 10px;
    display: flex;
    flex-direction: column; /* alinha o conteudo verticalmente */
    align-items: center; /* centraliza os itens horizontalmente */
}

.carousel-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 98%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.carousel-navigation button {
    background-color: #1d61bf;
    color: white;
    border: none;
    border-radius: 70%;
    padding: 13px;
    cursor: pointer;
}

.carousel-navigation button:hover {
    background-color: #0b264c;
}

.prev {
    left: 50px;
}

.next {
    right: 50px;
}

.btn-emprestimo1 {
    margin-left: 65px;
    padding: 5px 10px;
    background-color: #1d61bf;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-emprestimo1:hover {
    background-color: #174a94;
}

.btn-emprestimo {
    padding: 5px 10px;
    background-color: #1d61bf;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-emprestimo:hover {
    background-color: #174a94;
}

/*conteudo 1*/
.conteudo1 {
    padding: 20px;
    margin-left: 80px;
    margin-bottom: -40px;
    
}
.titulo1 {
    margin-top: 70px;
    background-color: #ffffff;
    padding: 20px;
}

.todos-os-livros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.todos-os-livros .book {
    width: 18%;
    margin: 10px 0;
    text-align: center;
}

.book.hidden {
    display: none;
}

.botaoMostrar {
    display: block;
    margin: 60px auto;
    padding: 10px 200px;
    background-color: #1d61bf;
    border-radius: 15px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.botaoMostrar:hover {
    background-color: #1551a3;
}


.book-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.book-info {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    width: 400px;
    height: 400px;
    position: relative;
}

.book-info img {
    max-width: 250px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

#result {
    margin-left: 300px;
    text-align: left;
    flex-grow: 1;
}


/* Rodapé */
footer {
    background-color: #1d61bf;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%; /* Garante que o rodapé ocupe toda a largura da página */
    margin-top: auto; /* Empurra o rodapé para o final da página */
    display: flex; /* Adiciona flexbox para alinhar o conteúdo */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%; /* Garante que o container ocupe toda a largura disponível */
    padding: 0 20px;
}

.footer-left {
    display: flex;
    align-items: center; 
}
